<!DOCTYPE html>
<html lang="ru">

{% include head.html %}

<body class="clearfix">

    <div data-scroll='0' class="thetop"></div>
    <!-- for back to top -->
    
    {% include left-sidebar.html %}

    <!-- ========== ========== right side body start ========== ========== -->
    <div class="right-side-body">

        {% include header.html %}
        {% include main-slider-section.html %}
        {% include aboutme-section.html %}
        {% include my-skill-section.html %}
        {% include education-section.html %}
        {% include my-portfolio-section.html %}
        {% include testomonials-section.html %}
        {% include experience-section.html %}
        {% include latest-news-section.html %}
        {% include contact-me-section.html %}
        {% include footer-section.html %}
        {% include experience-section.html %}

    </div>
    <!-- ========== ========== right side body end ========== ========== -->

    {% include script-footer.html %}

</body>

</html>
