        <!-- ==================== contact-me-section start ==================== -->
        <div data-scroll='8' class="contact-me-section sec-p100-bg-bs mb-30 clearfix" id="contact">

            <div class="Section-title">
                <h2>
					<i class="fa fa-envelope-o" aria-hidden="true"></i>
					contact me
				</h2>
                <span>contact me</span>
                <p>
                    Proin gravida nibh vel velit quet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulpuate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt.
                </p>
            </div>
            <!-- /.Section-title -->

            <div class="row">
                <div class="col l6 m12 s12">
                    <div class="contact-left">

                        <div class="cont-item phone">
                            <h2 class="title mb-30">phone</h2>
                            <div class="cont-numbers">
                                <p>
                                    <span>Mob.</span>+0 123456789
                                </p>
                                <p>
                                    <span>Landline</span>+0 123456789
                                </p>
                                <p>
                                    <span>Skype</span>webstrot
                                </p>
                            </div>
                            <!-- /.cont-numbers -->
                        </div>
                        <!-- /.cont-item -->

                        <div class="cont-item email">
                            <h2 class="title mb-30">email</h2>
                            <div class="cont-numbers">
                                <p>support@example.com</p>
                                <p>support@example.com</p>
                            </div>
                            <!-- /.cont-numbers -->
                        </div>
                        <!-- /.cont-item -->

                        <div class="cont-item address">
                            <h2 class="title mb-30">address</h2>
                            <div class="cont-numbers">
                                <p>Street 110-B Kalani Bag, Dewas, M.P. INDIA</p>
                                <p><a href="index.html#" class="photoshop-color">https:example.com</a></p>
                            </div>
                            <!-- /.cont-numbers -->
                        </div>
                        <!-- /.cont-item -->

                    </div>
                    <!-- /.contact-left -->
                </div>
                <!-- colm6 -->

                <div class="col l6  s12">
                    <div class="contact-right clearfix">

                        <form action="index.html#">

                            <h2 class="title mb-30">here me</h2>

                            <div class="input-field">
                                <input type="text" name="full_name" class="require">
                                <label>First Name</label>
                            </div>

                            <div class="input-field">
                                <input type="text" name="email" class="require" data-valid="email" data-error="Email should be valid.">
                                <label>Email</label>
                            </div>

                            <div class="input-field">
                                <input type="text" name="subject" class="require">
                                <label>Subject</label>
                            </div>

                            <div class="input-field">

                                <textarea rows="7" name="message" class="materialize-textarea"></textarea>
                                <label>Message</label>
                                <div class="response"></div>
                            </div>

                            <button type="button" class="submitForm custom-btn waves-effect"><i class="fa fa-envelope-o" aria-hidden="true"></i>Send</button>
                        </form>

                    </div>
                    <!-- /.contact-right -->
                </div>
                <!-- colm6 -->
            </div>
            <!-- row -->

        </div>
        <!-- /.contact-me-section -->
        <!-- ==================== contact-me-section end ==================== -->
