        <!-- ==================== experience-section start ==================== -->
        <div data-scroll='6' class="experience-section sec-p100-bg-bs mb-30 clearfix" id="exprience">

            <div class="Section-title">
                <h2>
					<i class="fa fa-pencil" aria-hidden="true"></i>
					Work Experience
				</h2>
                <span>Work Experience</span>
                <p>
                    Proin gravida nibh vel velit quet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulpuate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt.
                </p>
            </div>
            <!-- /.Section-title -->

            <div class="row">
                <div class="col l8 m12 s12">
                    <div class="experience-left">
                        <div class="experience-left-item-area">
                            <div class="border-left">

                                <div class="experience-item exp1">
                                    <h2 class="title">Web Designer at Microsoft Inc.</h2>
                                    <ul class="post-mate ul-li">
                                        <li class="photoshop-color">Jun 2016 - <span class="current photoshop-bg">Current</span></li>
                                    </ul>
                                    <!-- /.post-mate -->
                                    <p>
                                        Working as Web Developer at MicroSoft. Leading the support administration and quality controlling of products submited by the global freelance authors.
                                    </p>
                                    <a href="index.html#" class="photoshop-color">https:example.com</a>
                                </div>
                                <!-- /.experience-item -->

                                <div class="experience-item exp2">
                                    <h2 class="title">Web Designer at Microsoft Inc.</h2>
                                    <ul class="post-mate ul-li">
                                        <li class="jquery-color">Jun 2015 - july 2016</li>
                                    </ul>
                                    <!-- /.post-mate -->
                                    <p>
                                        Working as Web Developer at MicroSoft. Leading the support administration and quality controlling of products submited by the global freelance authors.
                                    </p>
                                    <a href="index.html#" class="jquery-color">https:example.com</a>
                                </div>
                                <!-- /.experience-item -->

                                <div class="experience-item exp3">
                                    <h2 class="title">Web Designer at Microsoft Inc.</h2>
                                    <ul class="post-mate ul-li">
                                        <li class="php-color">April 2014 - November 2015</li>
                                    </ul>
                                    <!-- /.post-mate -->
                                    <p>
                                        Working as Web Developer at MicroSoft. Leading the support administration and quality controlling of products submited by the global freelance authors.
                                    </p>
                                    <a href="index.html#" class="php-color">https:example.com</a>
                                </div>
                                <!-- /.experience-item -->

                                <div class="experience-item exp1">
                                    <h2 class="title">Web Designer at Microsoft Inc.</h2>
                                    <ul class="post-mate ul-li">
                                        <li class="photoshop-color">Jun 2016 - <span class="current photoshop-bg">Current</span></li>
                                    </ul>
                                    <!-- /.post-mate -->
                                    <p>
                                        Working as Web Developer at MicroSoft. Leading the support administration and quality controlling of products submited by the global freelance authors.
                                    </p>
                                    <a href="index.html#" class="photoshop-color">https:example.com</a>
                                </div>
                                <!-- /.experience-item -->

                                <div class="experience-item exp2">
                                    <h2 class="title">Web Designer at Microsoft Inc.</h2>
                                    <ul class="post-mate ul-li">
                                        <li class="jquery-color">Jun 2015 - july 2016</li>
                                    </ul>
                                    <!-- /.post-mate -->
                                    <p>
                                        Working as Web Developer at MicroSoft. Leading the support administration and quality controlling of products submited by the global freelance authors.
                                    </p>
                                    <a href="index.html#" class="jquery-color">https:example.com</a>
                                </div>
                                <!-- /.experience-item -->

                                <div class="experience-item exp3">
                                    <h2 class="title">Web Designer at Microsoft Inc.</h2>
                                    <ul class="post-mate ul-li">
                                        <li class="php-color">April 2014 - November 2015</li>
                                    </ul>
                                    <!-- /.post-mate -->
                                    <p>
                                        Working as Web Developer at MicroSoft. Leading the support administration and quality controlling of products submited by the global freelance authors.
                                    </p>
                                    <a href="index.html#" class="php-color">https:example.com</a>
                                </div>
                                <!-- /.experience-item -->

                            </div>
                            <!-- border-left -->
                        </div>
                        <!-- /.experience-left-item-area -->

                    </div>
                    <!-- /.experience-left -->
                </div>
                <!-- colm8 -->

                <div class="col l4 m12 s12">
                    <div class="experience-right">

                        <div class="achivement">
                            <h2 class="title">
								<span class="thumb achived-color">
									<i class="fa fa-trophy" aria-hidden="true"></i>
								</span>
								<!-- /.thumb -->
								03 Adward Wins
							</h2>
                        </div>
                        <!-- /.achivement -->

                        <div class="achivement">
                            <h2 class="title">
								<span class="thumb">
									01
								</span>
								<!-- /.thumb -->
								Css Awwwards
							</h2>
                            <p>
                                Proin gravida nibh vel velit quet. Aenean sollicitudin, lorem quis bibendum.
                            </p>
                        </div>
                        <!-- /.achivement -->

                        <div class="achivement">
                            <h2 class="title">
								<span class="thumb">
									02
								</span>
								<!-- /.thumb -->
								The Web Awards
							</h2>
                            <p>
                                Proin gravida nibh vel velit quet. Aenean sollicitudin, lorem quis bibendum.
                            </p>
                        </div>
                        <!-- /.achivement -->

                        <div class="achivement">
                            <h2 class="title">
								<span class="thumb">
									03
								</span>
								<!-- /.thumb -->
								Logo Design
							</h2>
                            <p>
                                Proin gravida nibh vel velit quet. Aenean sollicitudin, lorem quis bibendum.
                            </p>
                        </div>
                        <!-- /.achivement -->

                    </div>
                    <!-- /.experience-right -->
                </div>
                <!-- col m4 -->
            </div>
            <!-- row -->

        </div>
        <!-- /.experience-section -->
        <!-- ==================== experience-section end ==================== -->
