        <!-- ==================== footer-section start ==================== -->
        <footer id="footer-section" class="footer-section clearfix">
            <p>© 20018 Copyright <a href="index.html#" class="photoshop-color">My Porto</a> Design by <a href="http://webstrot.com/" class="photoshop-color">webstrot.</a></p>

            <div class='backtotop'>
                <a href="index.html#" class='scroll'>
                    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                </a>
            </div>
            <!-- backtotop -->
        </footer>
        <!-- /.footer-section -->
        <!-- ==================== footer-section end ==================== -->
