        <!-- ==================== latest-news-section start ==================== -->
        <div data-scroll='7' class="latest-news-section sec-p100-bg-bs mb-30 clearfix" id="blog">

            <div class="Section-title">
                <h2>
					<i class="fa fa-newspaper-o" aria-hidden="true"></i>
					Новости и Заметки
				</h2>
                <span>Latest News</span>
                <p>
                    Proin gravida nibh vel velit quet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulpuate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt.
                </p>
            </div>
            <!-- /.Section-title -->

            <div class="news-item clearfix">
                <div class="news-image b4-1 left">
                    <img src="assets/images/news/news1.jpg" alt="Image">
                </div>
                <!-- /.news-image -->
                <div class="news-contant right left-align">
                    <h2 class="title">Creative Deisng News</h2>
                    <ul class="post-mate2">
                        <li class="pm-r25">By <a href="index.html#">akshay</a></li>
                        <li class="pm-r25">11 march 2017</li>
                        <li class="pm-r25">4 comment</li>
                    </ul>
                    <p>
                        Proin gravida nibh vel velit quet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit. This is Photoshop's version of Lorem Ipsum. Proin gravida nibh.
                    </p>
                    <a href="index.html#!" class="custom-btn waves-effect waves-light">
                        <i class="fa fa-address-book-o" aria-hidden="true"></i> Read More
                    </a>
                </div>
                <!-- /.news-contant -->
            </div>
            <!-- /.news-item -->

            <div class="news-item clearfix">
                <div class="news-image b4-2 right">
                    <img src="assets/images/news/news2.jpg" alt="Image">
                </div>
                <!-- /.news-image -->
                <div class="news-contant left right-align">
                    <h2 class="title">Creative Deisng News</h2>
                    <ul class="post-mate2">
                        <li class="pm-r25">By <a href="index.html#">akshay</a></li>
                        <li class="pm-r25">11 march 2017</li>
                        <li class="pm-r25">4 comment</li>
                    </ul>
                    <p>
                        Proin gravida nibh vel velit quet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit. This is Photoshop's version of Lorem Ipsum. Proin gravida nibh.
                    </p>
                    <a href="index.html#!" class="custom-btn waves-effect waves-light">
                        <i class="fa fa-address-book-o" aria-hidden="true"></i> Read More
                    </a>
                </div>
                <!-- /.news-contant -->
            </div>
            <!-- /.news-item -->

            <div class="news-item clearfix">
                <div class="news-image b4-1 left">
                    <img src="assets/images/news/news3.jpg" alt="Image">
                </div>
                <!-- /.news-image -->
                <div class="news-contant right left-align">
                    <h2 class="title">Creative Deisng News</h2>
                    <ul class="post-mate2">
                        <li class="pm-r25">By <a href="index.html#">akshay</a></li>
                        <li class="pm-r25">11 march 2017</li>
                        <li class="pm-r25">4 comment</li>
                    </ul>
                    <p>
                        Proin gravida nibh vel velit quet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit. This is Photoshop's version of Lorem Ipsum. Proin gravida nibh.
                    </p>
                    <a href="index.html#!" class="custom-btn waves-effect waves-light">
                        <i class="fa fa-address-book-o" aria-hidden="true"></i> Read More
                    </a>
                </div>
                <!-- /.news-contant -->
            </div>
            <!-- /.news-item -->

            <ul class="pagination clearfix">
                <li class="left-arrow waves-effect left">
                    <a href="index.html#!"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                </li>

                <li class="waves-effect"><a href="index.html#!">01</a></li>
                <li class="active"><a href="index.html#!">02</a></li>
                <li class="waves-effect"><a href="index.html#!">03</a></li>

                <li class="right-arrow waves-effect right">
                    <a href="index.html#!"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </li>
            </ul>

        </div>
        <!-- /.latest-news-section -->
        <!-- ==================== latest-news-section end ==================== -->
