    <!-- ========== ========== fixed - left side body start ========== ========== -->
    <div class="fixed-left-side-body">
        <div class="profile">
            <div class="profile-image center-align">
                <img src="assets/images/akshay2.png" alt="Image">
            </div>
            <!-- /.profile-image -->

            <div class="profile-name center-align">
                <h1 class="user-name">Akshay Handge</h1>
                <p>
                    <span class="photoshop-color">UI/UX Designer</span> in Dewas
                </p>
            </div>
            <!-- /.profile-name -->

            <ul class="social-btn">
                <li>
                    <a href="index.html#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a href="index.html#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a href="index.html#">
                        <i class="fa fa-behance" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a href="index.html#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a href="index.html#">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a href="index.html#">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

            <div class="discription clearfix">
                <h2 class="title mb-30">what's in my mind</h2>
                <p>
                    We can develop and design anything beyond your ima gination. About our work, we don’t say anything bec ause our work speaks. For more, you can ask our clie nts and they will tell you how much satisfied they are with our services. So, what are you waiting for?
                </p>
            </div>
            <!-- /.discription -->
            <div class="cv-btn">
                <a href="index.html#!" class="custom-btn waves-effect waves-light">
                    <i class="fa fa-download" aria-hidden="true"></i> download cv
                </a>
            </div>
        </div>
        <!-- /.profile -->
    </div>
    <!-- /.fixed-left-side-body -->
    <!-- ========== ========== fixed - left side body end ========== ========== -->
