        <!-- ==================== main-slider-section start ==================== -->
        <section id="main-slider-section" class="main-slider-section mb-30 clearfix">

            <div class="main-slider owl-carousel owl-theme">
                <div class="item">
                    <div class="row">

                        <div class="col l6 m6">
                            <div class="item-child-left left-align">
                                <h2 class="hi">hello.</h2>
                                <p class="name">My name is Akshay</p>
                                <small class="position mb-30">& I am absolutely design addicted</small>

                                <a href="index.html#!" class="custom-btn waves-effect waves-light">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i> view protfolio
                                </a>
                            </div>
                            <!-- /.item-child-left -->
                        </div>
                        <!-- coll6 -->

                        <div class="col l6 m6">
                            <div class="item-child-right right-align">
                                <img src="assets/images/akshay1.png" alt="Image">
                                <a href="index.html#" class="chat waves-effect waves-light">
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                </a>
                            </div>
                            <!-- /.item-child-right -->
                        </div>
                        <!-- coll6 -->

                    </div>
                    <!-- row -->
                </div>
                <!-- /.item -->
                <div class="item">
                    <div class="row">

                        <div class="col l6 m6">
                            <div class="item-child-left left-align">
                                <h2 class="hi">hello.</h2>
                                <p class="name">My name is Akshay</p>
                                <small class="position mb-30">& I am absolutely design addicted</small>

                                <a href="index.html#!" class="custom-btn waves-effect waves-light">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i> view protfolio
                                </a>
                            </div>
                            <!-- /.item-child-left -->
                        </div>
                        <!-- coll6 -->

                        <div class="col l6 m6">
                            <div class="item-child-right right-align">
                                <img src="assets/images/akshay1.png" alt="Image">
                                <a href="index.html#" class="chat waves-effect waves-light">
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                </a>
                            </div>
                            <!-- /.item-child-right -->
                        </div>
                        <!-- coll6 -->

                    </div>
                    <!-- row -->
                </div>
                <!-- /.item -->
                <div class="item">
                    <div class="row">

                        <div class="col l6 m6">
                            <div class="item-child-left left-align">
                                <h2 class="hi">hello.</h2>
                                <p class="name">My name is Akshay</p>
                                <small class="position mb-30">& I am absolutely design addicted</small>

                                <a href="index.html#!" class="custom-btn waves-effect waves-light">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i> view protfolio
                                </a>
                            </div>
                            <!-- /.item-child-left -->
                        </div>
                        <!-- coll6 -->

                        <div class="col l6 m6">
                            <div class="item-child-right right-align">
                                <img src="assets/images/akshay1.png" alt="Image">
                                <a href="index.html#" class="chat waves-effect waves-light">
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                </a>
                            </div>
                            <!-- /.item-child-right -->
                        </div>
                        <!-- coll6 -->

                    </div>
                    <!-- row -->
                </div>
                <!-- /.item -->
            </div>
            <!-- /.main-slider -->

        </section>
        <!-- /.main-slider-section -->
        <!-- ==================== main-slider-section end ==================== -->
