        <!-- ==================== my-portfolio-section start ==================== -->
        <div data-scroll='4' class="my-portfolio-section sec-p100-bg-bs mb-30 clearfix" id="portfolio">

            <div class="Section-title">
                <h2>
					<i class="fa fa-briefcase" aria-hidden="true"></i>
					My Portfolio
				</h2>
                <span>My Portfolio</span>
                <p>
                    Proin gravida nibh vel velit quet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulpuate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt.
                </p>
            </div>
            <!-- /.Section-title -->

            <div class="portfolio-area">

                <div id="filters" class="button-group">
                    <button class="button waves-effect default is-checked" data-filter="*">all</button>
                    <button class="button waves-effect default" data-filter=".metal">logos</button>
                    <button class="button waves-effect default" data-filter=".transition">websites</button>
                    <button class="button waves-effect default" data-filter=".alkali, .alkaline-earth">apps</button>
                    <button class="button waves-effect default" data-filter=":not(.transition)">softwars</button>

                </div>

                <div class="grid">
                    <div class="element-item transition metal" data-category="transition">
                        <div class="ei-child">
                            <img src="assets/images/portfolio/img-1.jpg" alt="Image">
                            <a href="index.html#" class="more">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="element-item metalloid" data-category="metalloid">
                        <div class="ei-child">
                            <img src="assets/images/portfolio/img-2.jpg" alt="Image">
                            <a href="index.html#" class="more">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="element-item post-transition metal" data-category="post-transition">
                        <div class="ei-child">
                            <img src="assets/images/portfolio/img-3.jpg" alt="Image">
                            <a href="index.html#" class="more">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="element-item post-transition metal" data-category="post-transition">
                        <div class="ei-child">
                            <img src="assets/images/portfolio/img-4.jpg" alt="Image">
                            <a href="index.html#" class="more">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="element-item transition metal" data-category="transition">
                        <div class="ei-child">
                            <img src="assets/images/portfolio/img-5.jpg" alt="Image">
                            <a href="index.html#" class="more">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="element-item alkali metal" data-category="alkali">
                        <div class="ei-child">
                            <img src="assets/images/portfolio/img-6.jpg" alt="Image">
                            <a href="index.html#" class="more">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.grid -->

                <a href="index.html#!" class="custom-btn waves-effect waves-light">
                    <i class="fa fa-refresh" aria-hidden="true"></i> load more
                </a>
            </div>
            <!-- /.portfolio-area -->

        </div>
        <!-- /.my-portfolio-section -->
        <!-- ==================== my-portfolio-section end ==================== -->
