        <!-- ==================== my-skill-section start ==================== -->
        <div data-scroll='2' class="my-skill-section sec-p100-bg-bs mb-30 clearfix" id="skill">
            <div class="Section-title">
                <h2>
					<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
					My Skills
				</h2>
                <span>My Skills</span>
                <p>
                    Proin gravida nibh vel velit quet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulpuate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt.
                </p>
            </div>
            <!-- /.Section-title -->

            <div class="professional-skills-area">
                <ul class="tabs skills-tab ul-li">
                    <li class="tab tag-item tag-icon">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                    </li>
                    <li class="tab tag-item"><a href="index.html#">#graphicdesign</a></li>
                    <li class="tab tag-item"><a href="index.html#" class="active">#photography</a></li>
                    <li class="tab tag-item"><a href="index.html#">#technology</a></li>
                    <li class="tab tag-item"><a href="index.html#">#design</a></li>
                    <li class="tab tag-item"><a href="index.html#">#webdevelopment</a></li>
                    <li class="tab tag-item"><a href="index.html#">#application</a></li>
                </ul>
                <div id="graphicdesign">
                    <h2 class="title">professional skills</h2>

                    <div class="skill_progress">

                        <div class="row">
                            <div class="col l6 m6 s12">
                                <div class="single_experties">
                                    <div class="skilled-tittle">Photoshop</div>
                                    <div class="progress">
                                        <div class="progress-bar photoshop-bg wow Rx-width-90 animated" role="progressbar" data-wow-duration="0.5s" data-wow-delay=".5s" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            <span class="photoshop-color">90%</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /single_experties -->

                                <div class="single_experties">
                                    <div class="skilled-tittle">Jquery</div>
                                    <div class="progress">
                                        <div class="progress-bar jquery-bg wow Rx-width-60 animated" role="progressbar" data-wow-duration="1s" data-wow-delay=".15s" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            <span class="jquery-color">60%</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /single_experties -->

                                <div class="single_experties m-0">
                                    <div class="skilled-tittle">PHP</div>
                                    <div class="progress">
                                        <div class="progress-bar php-bg wow Rx-width-75 animated" role="progressbar" data-wow-duration="1.5s" data-wow-delay=".25s" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            <span class="php-color">75%</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /single_experties -->
                            </div>
                            <!-- colm6 -->

                            <div class="col l6 m6 s12">
                                <div class="single_experties">
                                    <div class="skilled-tittle">HTML5</div>
                                    <div class="progress">
                                        <div class="progress-bar html5-bg wow Rx-width-45 animated" role="progressbar" data-wow-duration="0.5s" data-wow-delay=".5s" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            <span class="html5-color">45%</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /single_experties -->

                                <div class="single_experties">
                                    <div class="skilled-tittle">Css3</div>
                                    <div class="progress">
                                        <div class="progress-bar css3-bg wow Rx-width-65 animated" role="progressbar" data-wow-duration="1s" data-wow-delay=".15s" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            <span class="css3-color">65%</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /single_experties -->

                                <div class="single_experties m-0">
                                    <div class="skilled-tittle">Marketing</div>
                                    <div class="progress">
                                        <div class="progress-bar marketing-bg wow Rx-width-80 animated" role="progressbar" data-wow-duration="1.5s" data-wow-delay=".25s" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            <span class="marketing-color">80%</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /single_experties -->
                            </div>
                            <!-- colm6 -->
                        </div>
                        <!-- row -->

                    </div>
                    <!-- /.skill_progress -->
                </div>

            </div>
            <!-- /.professional-skills-area -->

            <div class="languages-skills">
                <div class="row">

                    <div class="col l6 m12 s12">
                        <div class="lang-skill-left">
                            <h2 class="title mb-30">languages skills</h2>

                            <p class="mb-30">
                                Proin gravida nibh vel velit quet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit.
                            </p>

                            <a href="index.html#" class="common-color">https://www.youtube.com</a>
                        </div>
                        <!-- /.lang-skill-left -->
                    </div>
                    <!-- colm6 -->
                    <div class="col l6 m12 s12">
                        <div class="lang-skill-right">
                            <div class="skill-piechart">
                                <div class="first circle">
                                    <strong>HINDI</strong>
                                </div>
                            </div>
                            <!-- /pie-chart -->

                            <div class="skill-piechart">
                                <div class="second circle">
                                    <strong>ENGLISH</strong>
                                </div>
                            </div>
                            <!-- /pie-chart -->
                            <div class="skill-piechart">
                                <div class="third circle">
                                    <strong>DUTCH</strong>
                                </div>
                            </div>
                            <!-- /pie-chart -->
                        </div>
                    </div>
                    <!-- colm6 -->

                </div>
                <!-- row -->
            </div>
            <!-- /.languages-skills -->

        </div>
        <!-- /.my-skill-section -->
        <!-- ==================== my-skill-section end ==================== -->
