        <!-- ==================== testomonials-section start ==================== -->
        <div data-scroll='5' class="testomonials-section sec-p100-bg-bs mb-30 clearfix" id="testimonial">

            <div class="Section-title">
                <h2>
					<i class="fa fa-quote-left" aria-hidden="true"></i>
					testomonials
				</h2>
                <span>testomonials</span>
                <p>
                    Proin gravida nibh vel velit quet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulpuate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt.
                </p>
            </div>
            <!-- /.Section-title -->
            <div class="hello_testi_slider_wrapper">
                <div id="testomonial-carousel" class="owl-carousel owl-theme">
                    <div class="item">

                        <div class="testomonial-img">
                            <img src="assets/images/testomonial/testomonial-img1.jpg" alt="Image">
                        </div>
                        <!-- /.testomonial-img -->

                        <div class="testomonial-contant">
                            <h2>
								Collis Ta'eed <span>(CEO at ABC)</span>
							</h2>
                            <p>
                                Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                            </p>
                            <a href="index.html#" class="common-color">https:example.com</a>
                        </div>

                        <!-- /.testomonial-contant -->
                    </div>
                    <!-- /.item -->

                    <div class="item">
                        <div class="testomonial-img">
                            <img src="assets/images/testomonial/testomonial-img2.jpg" alt="Image">
                        </div>
                        <!-- /.testomonial-img -->

                        <div class="testomonial-contant">
                            <h2>
							Collis Ta'eed <span>(CEO at ABC)</span>
						</h2>
                            <p>
                                Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                            </p>
                            <a href="index.html#" class="common-color">https:example.com</a>
                        </div>
                        <!-- /.testomonial-contant -->
                    </div>
                    <!-- /.item -->

                    <div class="item">
                        <div class="testomonial-img">
                            <img src="assets/images/testomonial/testomonial-img3.jpg" alt="Image">
                        </div>
                        <!-- /.testomonial-img -->

                        <div class="testomonial-contant">
                            <h2>
							Collis Ta'eed <span>(CEO at ABC)</span>
						</h2>
                            <p>
                                Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                            </p>
                            <a href="index.html#" class="common-color">https:example.com</a>
                        </div>
                        <!-- /.testomonial-contant -->
                    </div>
                    <!-- /.item -->

                    <div class="item">
                        <div class="testomonial-img">
                            <img src="assets/images/testomonial/testomonial-img4.jpg" alt="Image">
                        </div>
                        <!-- /.testomonial-img -->

                        <div class="testomonial-contant">
                            <h2>
							Collis Ta'eed <span>(CEO at ABC)</span>
						</h2>
                            <p>
                                Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                            </p>
                            <a href="index.html#" class="common-color">https:example.com</a>
                        </div>
                        <!-- /.testomonial-contant -->
                    </div>
                    <!-- /.item -->

                    <div class="item">
                        <div class="testomonial-img">
                            <img src="assets/images/testomonial/testomonial-img5.jpg" alt="Image">
                        </div>
                        <!-- /.testomonial-img -->

                        <div class="testomonial-contant">
                            <h2>
							Collis Ta'eed <span>(CEO at ABC)</span>
						</h2>
                            <p>
                                Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                            </p>
                            <a href="index.html#" class="common-color">https:example.com</a>
                        </div>
                        <!-- /.testomonial-contant -->
                    </div>
                    <!-- /.item -->
                </div>
            </div>
            <!-- /#testomonial-carousel -->

            <ul class="brand-list ul-li">
                <li>
                    <a href="index.html#!">
                        <img src="assets/images/brand/brand1.png" alt="Brand Image">
                    </a>
                </li>
                <li>
                    <a href="index.html#!">
                        <img src="assets/images/brand/brand2.png" alt="Brand Image">
                    </a>
                </li>
                <li>
                    <a href="index.html#!">
                        <img src="assets/images/brand/brand3.png" alt="Brand Image">
                    </a>
                </li>
                <li>
                    <a href="index.html#!">
                        <img src="assets/images/brand/brand4.png" alt="Brand Image">
                    </a>
                </li>
                <li>
                    <a href="index.html#!">
                        <img src="assets/images/brand/brand5.png" alt="Brand Image">
                    </a>
                </li>
            </ul>

        </div>
        <!-- /.testomonials-section -->
        <!-- ==================== testomonials-section end ==================== -->
