{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{%endblock%}

{% block head %}
{{ super() }}
<meta name="page_html" />
{% endblock %}

{% block content %}

<!-- ==================== aboutme-section start ==================== -->
<div data-scroll='1' class="aboutme-section sec-p100-bg-bs mb-30 clearfix" id="about">
  <div class="Section-title">
    <h2><i class="fa fa-user-o" aria-hidden="true"></i>
      {{ page.title }}
    </h2>

    <p>
      {{ page.content }}
    </p>
  </div>
  <!-- /.Section-title -->

  <div class="personal-details-area">
    <div class="row">
      <div class="col l6 m12 s12">
        <div class="personal-details-left">
          <ul class="service-list ul-li">
            <li class="logodesign">
              <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
              <span class="service-name">logo design</span>
              <a href="index.html#" class="more"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </li>
            <li class="website">
              <i class="fa fa-globe" aria-hidden="true"></i>
              <span class="service-name">website</span>
              <a href="index.html#" class="more"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </li>
            <li class="softwares">
              <i class="fa fa-desktop" aria-hidden="true"></i>
              <span class="service-name">softwares</span>
              <a href="index.html#" class="more"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </li>
            <li class="applications">
              <i class="fa fa-mobile" aria-hidden="true"></i>
              <span class="service-name">applications</span>
              <a href="index.html#" class="more"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </li>
          </ul>
          <!-- /.service-list -->
        </div>
        <!-- /.personal-details-left -->
      </div>
      <!-- colm6 -->

      <div class="col l6 m12 s12">
        <div class="personal-details-right">
          <h2 class="title">personal details</h2>
          <table>
            <tbody>
              <tr>
                <td class="td-w25">Full Name</td>
                <td class="td-w10">:</td>
                <td class="td-w65">Akshay Handge</td>
              </tr>
              <tr>
                <td class="td-w25">Father's Name</td>
                <td class="td-w10">:</td>
                <td class="td-w65">Mr. Deepak Handge</td>
              </tr>
              <tr>
                <td class="td-w25">Address</td>
                <td class="td-w10">:</td>
                <td class="td-w65">Street 110-B Kalani Bag, Dewas, M.P. INDIA</td>
              </tr>
              <tr>
                <td class="td-w25">Zip Code</td>
                <td class="td-w10">:</td>
                <td class="td-w65">12345</td>
              </tr>
              <tr>
                <td class="td-w25">Phone</td>
                <td class="td-w10">:</td>
                <td class="td-w65">+0 123456789 , +0 123456789</td>
              </tr>
              <tr>
                <td class="td-w25">Email</td>
                <td class="td-w10">:</td>
                <td class="td-w65">support@example.com</td>
              </tr>
              <tr>
                <td class="td-w25">Website</td>
                <td class="td-w10">:</td>
                <td class="td-w65">http://example.com</td>
              </tr>

            </tbody>
          </table>
        </div>
        <!-- /.personal-details-right -->
      </div>
      <!-- colm6 -->
    </div>
    <!-- row -->
  </div>
  <!-- /.personal-details-area -->

  <div class="success">
    <div class="success-child-left">
      <i class="fa fa-picture-o" aria-hidden="true"></i>
      <p>
        Over Ten Year In The Game With 550+ Projects Successfuly Done!
      </p>
    </div>
    <!-- /.success-child-left -->
    <div class="success-child-right">
      <a href="index.html#!" class="hire-me waves-effect">
        <i class="fa fa-envelope-o" aria-hidden="true"></i> hire me
      </a>
    </div>
    <!-- /.success-child-right -->
  </div>
  <!-- /.success -->
</div>
<!-- /.aboutme-section -->
<!-- ==================== aboutme-section end ==================== -->


{% if page.modified %}
<p>Последние изменение: {{ page.locale_modified }}</p>
{% endif %}
{% endblock %}